html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
.Nursery{
	width:45vw;
	position: absolute;
    display: block;
	top: 0;
	right: 0;
	text-align: center;
    font-family: helvetica;
    padding: 0 auto;
}
.Nursery__map {
    width:53vw;
	position: absolute;
    display: block;
	top: 0;
	left: 0;
    background-color: #f2f;
}
#map {
        height: 100%;
        width: 53vw;
}
.note{
    font-size: 14px;
    font-weight: 500;
    color: #207714;
}
.heading{
	font-size: 27px;
	font-weight: 600;
	color: #4bd039;
}
.mailmsg{
    font-size: 15px;
    font-weight: 500;
    color: #207714;
}
.address{
    font-size: 14px;
    font-weight: 500;
    color: #3dac2e;
}
.contact{
    font-size: 14px;
    font-weight: 500;
    color: #3dac2e;
}
.email{
    font-size: 15px;
    font-weight: 500;
    color: #2b901d;
}
.table{
    width: 95%;
	margin-bottom: 20px;
}
.table tr {
    
}
.table tr td {
    
    font-size: 12px;
    padding-bottom: 3px;
    border-bottom: 2px solid #777;
    padding: 5px 0 ;

    border-collapse: collapse;
}
.table tr td:nth-child(3)>*{
    text-align: center;
    margin: 0 auto;
    width: 155px;
    padding: 2px 0;
    background-color: #5ade48;
}


.reserve {
    background-color: #1cad27;
    color: #f2f2f2;
    padding: 5px 8px;
    border:  1px solid #179621;
    cursor: pointer;
}
.hideModal{
    display: none;
}
